#instagram div {
  display: inline-block;
}

#instagram p {
    color: red;
    font-weight: bold;
}

#topBar {
    background: #c2e0f4;
}

#instaLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-top: 8px;
}

.container {
    background: #216ba2;
}

.overflow {
    height: 700px;
    overflow: scroll;
}
