#instagram div {
  display: inline-block;
}

#instagram p {
    color: red;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 175px;
    left: 0px;
    visibility: hidden;
}

#instagram:hover p {
    visibility: visible;
}

#instagram:hover img {
    opacity: 0.5;
}

#topBar {
    background: #c2e0f4;
}

#instaLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-top: 8px;
}

.container {
    background: #216ba2;
}

.overflow {
    height: 700px;
    overflow: scroll;
}
